<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Dashboard - Trip Management</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/styles/styles.css}"/>
    <script crossorigin="anonymous"
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>
<body class="sb-nav-toggled">
<nav class="sb-topnav navbar shadow fixed-top navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="@{owner-dashboard}">Trip Management</a>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>

    <label class="text-light" th:text="${session.customer.customer_fname}"></label>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdown" role="button"><i class="fas fa-user fa-fw"></i></a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4" style="font-family: 'Courgette';font-size: 34px; margin-left: 50px"
                th:text="'Good Evenin '"/>
            <h1 class="mt-4" style="font-family: 'Courgette';font-size: 34px; margin-left: 50px"
                th:text="'Hey ' + ${session.customer.customer_fname} + '!'"/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <form th:action="@{/search-rides}" th:object="${trip}" method="post">
                            <div class="col-md-6">
                                <label>Select Source</label>
                                <!--                                <select class="form-control form-control-solid" name="source" id="selectsource">-->
                                <!--                                    &lt;!&ndash;<option th:each="ride" option>@{source}</option>&ndash;&gt;-->
                                <!--                                    <option value="5">5</option>-->
                                <!--                                    <option value="3">3</option>-->
                                <!--                                </select>-->

                                <select class="form-control" name="source" id="source">
                                    <option th:each="source : ${session.sourceList}" th:value="${source}"
                                            th:text="${source}"></option>
                                </select>
                            </div>
                            <br/>

                            <div class="col-md-6">
                                <label for="selectdestination">Select Destination</label>
                                <select class="form-control form-control-solid" name="destination"
                                        id="selectdestination">
                                    <!--<option th:each="ride" option>@{source}</option>-->
                                    <option th:each="destination : ${session.destinationList}" th:value="${destination}"
                                            th:text="${destination}"></option>
                                </select>
                            </div>
                            <br/>

                            <input th:attr="name='trip_id'" th:value="-1" type="hidden"/>
                            <input th:attr="name='location_id'" th:value="-1" type="hidden"/>
                            <input th:attr="name='vehicle_id'" th:value="-1" type="hidden"/>
                            <input th:attr="name='vehicleowner_id'" th:value="-1" type="hidden"/>
                            <input th:attr="name='customer_id'" th:value="${session.customer.customer_id}" type="hidden"/>
                            <input th:attr="name='estimated_kms'" th:value="-1" type="hidden"/>
                            <input th:attr="name='kms_travelled'" th:value="-1" type="hidden"/>
                            <input th:attr="name='timestamp'" th:value="'12:00'" type="hidden"/>
                            <input th:attr="name='available_seats'" th:value="-1" type="hidden"/>

                            <input class="btn btn-secondary" type="submit" value="Search Ride">
                        </form>

                        <div class="page-wrapper" th:action="@{/book-ride}" th:object="${booking}" th:each="ride: ${listOfRides}"
                             th:method="post">
                            <!-- FIRST CARD -->
<!--                            <div class="">-->
                            <div class="card-wrapper">
                                <div class="ride-card-left">
                                </div>
                                <div class="card-details">
                                    <ride-h1>May 31 - 3:00 AM</ride-h1>
                                    <ride-h1 style="font-size:14px;color:#616161;">42$</ride-h1>
                                    <ride-h1 style="font-size:14px;color:#616161;">Somerset  - Killam</ride-h1>
                                </div><!-- end card-details -->

                                <div class="reveal-details">
                                    <ride-h1>Book Seats:</ride-h1>
                                </div><!-- end reveal-details -->
                            </div><!-- end card-wrapper -->
<!--                            </div>-->

                            <!--                            <div class="card bg-warning text-white mb-4">-->
<!--                                <br/>-->
<!--                                &lt;!&ndash;                                <div class="card-body" style="padding:2px 6px"><span th:text="${ride.numberPlate}"></span></div>&ndash;&gt;-->
<!--                                <div class="card-body" style="padding:2px 6px"><span-->
<!--                                        th:text="${ride.numberPlate}"></span></div>-->
<!--                                <div class="card-body" style="padding:2px 6px">Source: <span th:text="${source}"></span>-->
<!--                                </div>-->
<!--                                <div class="card-body" style="padding:2px 6px">Destination: <span-->
<!--                                        th:text="${destination}"></span></div>-->
<!--                                <div class="card-body" style="padding:2px 6px">Available Seats: <span-->
<!--                                        th:text="${ride.availableSeats}"></span></div>-->
<!--                                <div class="card-body" hidden style="padding:2px 6px">-->
<!--                                    <input th:attr="name='trip_id'" th:value="${trip_id}" type="hidden"/> </div>-->
<!--                                <div class="card-body" hidden style="padding:2px 6px">-->
<!--                                    <input th:attr="name='customer_id'" th:value="${session.customer.customer_id}" type="hidden"/> </div>-->


<!--                                &lt;!&ndash;                                <div class="card-footer d-flex align-items-center justify-content-between">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <a class="small text-white stretched-link" th:onclick="javascript:alertShowdetails(\'' + ${vehicle}+ '\')">View Details</a>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="card-footer d-flex align-items-center justify-content-between">-->
<!--                                <input class="btn btn-secondary" type="submit" value="Book Ride">-->
<!--                            </div>-->
                        </div>

                    </div>

                    <div class="col-md-5">
                        <ol class="breadcrumb mb-6">
                            <li class="breadcrumb-item active">Upcoming Rides</li>
                        </ol>

<!--                        <div class="col-xl-3 col-md-6" th:each="upcomingRide: ${session.upcomingRides}">-->
<!--                            <div class="card bg-primary text-white mb-4">-->
<!--                                <br/>-->
<!--                                <div class="card-body" style="padding:2px 6px">Source: <span-->
<!--                                        th:text="${upcomingRide.source}"></span></div>-->
<!--                                <div class="card-body" style="padding:2px 6px">Destination: <span-->
<!--                                        th:text="${upcomingRide.destination}"></span></div>-->
<!--                                <div class="card-body" style="padding:2px 6px">Time: <span-->
<!--                                        th:text="${upcomingRide.timestamp}"></span></div>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
    </main>

    <footer class="bg-dark mt-auto fixed-bottom">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:
                    <label class="form-check-label" th:text="${session.customer.customer_fname}"></label>
                </div>
                </div>
                <div class="text-muted">Copyright &copy; Trip Management 2022</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/scripts.js}" type="text/javascript"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
