<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Dashboard - Trip Management</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/styles/styles.css}"/>
    <link rel="icon" th:href="@{/images/trippy.svg}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script>
            setTimeout(function() {
                $('#alertDiv').fadeOut('fast');
            }, 2500);
        </script>
    <script>
        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'far fa-trash',
                close: 'far fa-times'
            } });

        $('#datetimepicker1').datetimepicker({
            format: 'DD/MM/YYYY h:mm A'
        });
    </script>
</head>
<body class="sb-nav-toggled">
<nav class="sb-topnav navbar shadow fixed-top navbar-expand navbar-dark bg-dark">
<!--    <a class="navbar-brand ps-3" th:onclick="|window.location.href='/owner-dashboard'|">Trip Management</a>-->
    <img class="navbar-brand ps-3" th:src="@{/images/trippy.svg}" height="50px" width="100%" th:onclick="|window.location.href='/owner-dashboard'|">
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
    <button class="btn btn-outline-light" type="button"  style="margin: 10px" th:onclick="|window.location.href='/show-all-vehicles'|">Cars</button>
    <button class="btn btn-outline-light" type="button" style="margin-right: 10px" th:onclick="|window.location.href='/ride-history'|">Rides</button>
    <button class="btn btn-outline-light" type="button" style="margin-right: 10px" th:onclick="|window.location.href='/open-owner-credit'|"><i class="fas fa-dollar-sign"></i> <span th:text="${session.vehicleOwner.available_credits}"></span></button>
<!--    <label class="text-light" th:text="${session.vehicleOwner.vehicleowner_fname}"></label>-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdown" role="button"><i class="fas fa-user fa-fw"></i></a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" th:onclick="|window.location.href='/'|">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4" style="font-family: 'Courgette';font-size: 34px; margin-left: 50px"
                th:text="'Hey' + ${session.vehicleOwner.vehicleowner_fname} + '!'"/>
            <div th:if="!${message==null}">
                <div style="width:400px; position: absolute; top: 70px;right: 5px;" id="alertDiv" class="alert alert-cyan alert-solid"
                     th:classappend="${messageStatus=='FAILURE'?'alert-pink':'alert-cyan'}"
                     th:text="${message}" role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-xl-8 col-md-8" style="padding-left: 24px;">
                            <button class="btn btn-dark" data-bs-target="#exampleModal"
                                    data-bs-toggle="modal" type="button">Add New Car
                            </button>

                            <!-- Modal -->
                            <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade"
                                 id="exampleModal" role="dialog" style="display: none;" tabindex="-1">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="text-secondary">Add new car</h5>
                                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" th:action="@{/add-vehicle}"
                                                  th:object="${vehicle}">
                                                <label class="text-secondary">Brand:</label><br/>
                                                <input class="form-control" id="brand"
                                                       name="brand" type="text" maxlength="11" minlength="1" placeholder="Enter brand name" required/><br/>
                                                <label class="text-secondary">Car Name:</label><br/>
                                                <input class="form-control" id="vehicle_name"
                                                       name="vehicle_name" type="text" maxlength="11" minlength="1" placeholder="Enter car name" required/><br/>
                                                <label class="text-secondary">Registration Number:</label><br/>
                                                <input class="form-control" id="number_plate"
                                                       name="number_plate" type="text" maxlength="11" minlength="1" placeholder="Enter number plate" required/><br/>
                                                <label class="text-secondary">Type:</label><br/>
<!--                                                <input class="form-control" id="type" name="type" type="text">-->
                                                <div class="form-group blu-margin">
                                                    <select class="form-control" name="type"
                                                            id="type" required>
                                                        <option value="" selected>Select your car type</option>
                                                        <option value="SUV">SUV</option>
                                                        <option value="Sedan">Sedan</option>
                                                        <option value="Hatchback">Hatchback</option>
                                                    </select>
                                                </div>
                                                <br/>
                                                <label class="text-secondary">Kilometers driven:</label><br/>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="kms_driven" name="kms_driven"
                                                           placeholder="Travelled kms" min="0" max="1000000" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"> kms </span>
                                                    </div>
                                                </div>
                                                <br/>
<!--                                                <input class="form-control" id="kms_driven" name="kms_driven"-->
<!--                                                       type="text">-->
                                                <label class="text-secondary">Fuel Consumed:</label><br/>
<!--                                                <input class="form-control" id="fuel_economy"-->
<!--                                                       name="fuel_consumed" type="text">-->

                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="fuel_consumed" name="fuel_consumed"
                                                           placeholder="Total consumed fuel" min="0" max="10000" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"> liters </span>
                                                    </div>
                                                </div>
                                                <br/>
                                                <label class="text-secondary">Available Seats:</label><br/>
<!--                                                <input class="form-control" id="available_seats"-->
<!--                                                       name="available_seats" type="text">-->

                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="available_seats" name="available_seats"
                                                           placeholder="Enter the available seats" max="8" min="1" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"> Seats </span>
                                                    </div>
                                                </div>
                                                <br/>
                                                <input th:attr="name='vehicleowner_id'"
                                                       th:value="${session.vehicleOwner.vehicleOwner_id}"
                                                       type="hidden"/>
                                                <input class="btn btn-secondary" type="submit"
                                                       value="Add Car Details">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4" th:each="vehicle,iterStat: ${session.listOfVehicle}" th:if="${iterStat.index}<3">
                                    <div class="containerCard">
                                        <div class="containerCard">
                                            <div class="row">
                                                <div class="cardCard col-md-6">
                                                    <div th:classappend="${vehicle.fuel_economy_status}">
                                                        <div th:switch="${vehicle.type}">
                                                            <div th:case="'SUV'" class="imgBx">
                                                                <img th:src="@{/images/suv.png}">
                                                            </div>
                                                            <div th:case="'Sedan'" class="imgBx">
                                                                <img th:src="@{/images/sedan.png}">
                                                            </div>
                                                            <div th:case="*" class="imgBx">
                                                                <img th:src="@{/images/hatchback.png}">
                                                            </div>
                                                        </div>
                                                        <h2 class="vehicleBrand" th:text="${vehicle.brand}"></h2>
                                                        <div class="contentBx">
                                                            <h2 th:text="${vehicle.brand}+' '+${vehicle.vehicle_name}"></h2>
                                                            <div class="size" style="justify-content: center;">
                                                                <h3 th:text="${vehicle.number_plate}"></h3>
                                                            </div>
                                                            <div class="size">
                                                                <h3 th:text="'Kms Travelled: '+${vehicle.kms_driven}"></h3>
                                                            </div>
                                                            <div class="size">
                                                                <h3 th:text="'Fuel Consumed: '+${vehicle.fuel_consumed}"></h3>
                                                            </div>
                                                            <div class="size">
                                                                <h3 th:text="'Fuel Economy: '+${vehicle.fuel_economy}"></h3>
                                                            </div>
                                        <a th:attr="data-bs-target='#modalAddFuelEconomy'+${vehicle.vehicle_id}" data-bs-toggle="modal">Add trip</a>
                                            <!-- Modal -->
                                            <div aria-hidden="true" aria-labelledby="myLargeModalLabel"
                                                 class="modal fade" th:id="modalAddFuelEconomy+${vehicle.vehicle_id}" role="dialog"
                                                 style="display: none;top: 60px" tabindex="-1">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="text-secondary">Add trip Details</h5>
                                                            <button aria-label="Close" class="btn-close"
                                                                    data-bs-dismiss="modal" type="button"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" th:action="@{/add-fuel-economy}"
                                                                  th:object="${fuelEconomy}">
                                                                <label class="text-secondary"
                                                                       th:text="${vehicle.vehicle_name} +' : '+${vehicle.number_plate}"/><br/><br/>
                                                                <label class="text-secondary">Kms driven:</label><br/>
<!--                                                                <input class="form-control" id="kms_driven_fuel_eco"-->
<!--                                                                       name="kms_travelled" type="text">-->
                                                                <div class="input-group">
                                                                    <input type="number" class="form-control" id="kms_travelled" name="kms_travelled"
                                                                           placeholder="Travelled kms" min="0" max="1000000" required>
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text"> kms </span>
                                                                    </div>
                                                                </div>
                                                                <br/>
                                                                <label class="text-secondary">Fuel
                                                                    Consumed:</label><br/>
<!--                                                                <input class="form-control" id="fuel_economy_fuel_eco"-->
<!--                                                                       name="fuel_consumed" type="text">-->
                                                                <div class="input-group">
                                                                    <input type="number" class="form-control" id="fuel_economy_fuel_eco" name="fuel_consumed"
                                                                           placeholder="Total consumed fuel" min="0" max="10000" required>
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text"> liters </span>
                                                                    </div>
                                                                </div>
                                                                <br/>
                                                                <input th:attr="name='vehicle_id'"
                                                                       th:value="${vehicle.vehicle_id}"
                                                                       type="hidden"/>
                                                                <input class="btn btn-secondary" type="submit"
                                                                       value="Add Trip">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                    </div>
</div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center;">
                        <button class="btn btn-light" th:object="${session.vehicleOwner}" th:onclick="|window.location.href='/show-all-vehicles'|" type="button">Show All Cars
                        </button>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col-xl-8 col-md-8" style="padding-left: 24px;">
                            <button class="btn btn-dark" data-bs-target="#exampleModalride"
                                    data-bs-toggle="modal" type="button">Create New Ride
                            </button>

                            <!-- Modal -->
                            <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade"
                                 id="exampleModalride" role="dialog" style="display: none;" tabindex="-1">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="text-secondary">Add new ride</h5>
                                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" th:action="@{/create-ride}" th:object="${trip}">
                                                <label class="text-secondary">Select Vehicle:</label><br/>
                                                <div class="form-group blu-margin">
                                                    <select class="form-control" name="vehicle_id"
                                                            id="vehicle_id" required>
                                                        <option value="" selected>Select your Car</option>
                                                        <option th:each="vehicle : ${session.listOfVehicle}"
                                                                th:value="${vehicle.vehicle_id}"
                                                                th:text="${vehicle.vehicle_name} +' : '+${vehicle.number_plate}"></option>
                                                    </select>
                                                </div>
                                                <br/>
                                                <label class="text-secondary">Source:</label><br/>
                                                <input class="form-control" id="source" name="source"
                                                       type="text" placeholder="Enter the source" required><br/>
                                                <label class="text-secondary">Destination:</label><br/>
                                                <input class="form-control" id="destination" name="destination"
                                                       type="text" placeholder="Enter the destination" required><br/>
                                                <label class="text-secondary">Available seats:</label><br/>
<!--                                                <input class="form-control" id="available_seats_trip"-->
<!--                                                       name="available_seats" type="text" placeholder="Enter the available seats" required>-->
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="available_seats_trip" name="available_seats"
                                                           placeholder="Enter the available seats" max="8" min="1" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"> seats </span>
                                                    </div>
                                                </div>
                                                <br/>
                                                <label class="text-secondary">Start Time:</label><br/>
                                                <input type="datetime-local" class="form-control" id="start_time" name="start_time" required><br/>
                                                <label class="text-secondary">End Time:</label><br/>
                                                <input type="datetime-local" class="form-control" id="end_time" name="end_time" required><br/>
                                                <label class="text-secondary">Distance:</label><br/>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="estimated_km" name="estimated_kms"
                                                           placeholder="Distance in kms" min="0" max="1000000" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"> kms </span>
                                                    </div>
                                                </div>

                                                <input th:attr="name='vehicle_owner_id'"
                                                       th:value="${session.vehicleOwner.vehicleOwner_id}"
                                                       type="hidden"/>
<!--                                                <input th:attr="name='trip_id'" th:value="-1" type="hidden"/>-->
<!--                                                <input th:attr="name='location_id'" th:value="-1"-->
<!--                                                       type="hidden"/>-->
<!--                                                <input th:attr="name='customer_id'" th:value="-1"-->
<!--                                                       type="hidden"/>-->
<!--                                                <input th:attr="name='kms_travelled'" th:value="-1"-->
<!--                                                       type="hidden"/>-->
                                                <br/>
                                                <input class="btn btn-secondary" type="submit"
                                                       value="Add Ride Details">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>


                        </div>
                        <div class="container-fluid">
                            <div style="height:220px">
                                <label class="text-secondary" style="font-weight:bold; font-size:22px">Upcoming Rides</label>
                                <div th:each="upcomingRide, iterStat: ${session.upcomingRides}" th:if="${iterStat.index}<3" style="padding-top: 4px;width: 350px;">
<!--                                    <label class="text-secondary" th:text="${upcomingRide.source}+'  '+${upcomingRide.destination}"></label>-->
                                    <div class="card-wrapper">
                                        <div class="ride-card-left">
                                        </div>
                                        <div class="card-details">
                                            <ride-h1 th:text="${upcomingRide.start_time}"></ride-h1>
                                            <ride-h1 style="font-size:14px;color:#616161;" th:text="${upcomingRide.cost}+'$'"></ride-h1>
                                            <ride-h1 style="font-size:14px;color:#616161;" th:text="${upcomingRide.source}+' to '+${upcomingRide.destination}"></ride-h1>
                                        </div><!-- end card-details -->

<!--                                        <div class="reveal-details">-->
<!--                                            <ride-h1 style="font-size:14px;color:#616161;" th:text="'3/'+${previousRide.available_seats}"></ride-h1>-->
<!--                                        </div>-->
<!--                                        <div class="reveal-details">-->
<!--                                            <ride-h1>Book Seats:</ride-h1>-->
<!--                                        </div>&lt;!&ndash; end reveal-details &ndash;&gt;-->
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label class="text-secondary" style="font-weight:bold; font-size:22px" >Previous Rides</label>
                                <div th:each="previousRide,iterStat: ${session.previousRides}" th:if="${iterStat.index}<4" style="padding-top: 4px;width: 350px;">
<!--                                    <label class="text-secondary" th:text="${previousRide.source}+'  '+${previousRide.destination}"></label>-->
                                    <div class="card-wrapper" style="background: #e1f5fe !important;">
                                        <div class="ride-card-left">
                                        </div>
                                        <div class="card-details">
                                            <ride-h1 th:text="${previousRide.start_time}"></ride-h1>
                                            <ride-h1 style="font-size:14px;color:#616161;" th:text="${previousRide.cost}+'$'"></ride-h1>
                                            <ride-h1 style="font-size:14px;color:#616161;" th:text="${previousRide.source}+' to '+${previousRide.destination}"></ride-h1>
                                        </div><!-- end card-details -->

<!--                                                                                <div class="reveal-details">-->
<!--                                                                                    <ride-h1 style="font-size:14px;color:#616161;" th:text="'4/'+${previousRide.available_seats}"></ride-h1>-->
<!--                                                                                </div>&lt;!&ndash; end reveal-details &ndash;&gt;-->
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-dark" th:onclick="|window.location.href='/ride-history'|" type="button">Show All Rides
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="bg-light mt-auto fixed-bottom" >
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:
                    <label class="form-check-label" th:text="${session.vehicleOwner.vehicleowner_fname}"></label>
                </div>
                </div>
                <div class="text-muted">Copyright &copy; Trip Management 2022</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/scripts.js}" type="text/javascript"></script>
</body>
</html>
