<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Ride History</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
>
</head>
<body class="sb-nav-toggled">
<nav class="sb-topnav navbar shadow fixed-top navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" th:onclick="|window.location.href='/owner-dashboard'|">Trip Management</a>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
    <button class="btn btn-outline-light" type="button" style="margin: 20px" th:onclick="|window.location.href='/show-all-vehicles'|">Cars</button>
    <button class="btn btn-outline-light" type="button" style="margin-right: 30px" th:onclick="|window.location.href='/open-credit'|">Credit</button>
    <label class="text-light" th:text="${session.vehicleOwner.vehicleowner_fname}"></label>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdown" role="button"><i class="fas fa-user fa-fw"></i></a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        <br>
                        <br>
                        <div class="container-fluid">
                            <div class="row">
                                <label class="text-secondary" style="font-weight:bold; font-size:22px">Upcoming Rides</label>
                                <div th:each="upcomingRide: ${session.upcomingRides}" style="padding-top: 4px;width: 350px;">
                                    <div class="card-wrapper">
                                        <div class="ride-card-left">
                                        </div>
                                        <div class="card-details">
                                            <ride-h1 th:text="${upcomingRide.start_time}"></ride-h1>
                                            <ride-h1 style="font-size:14px;color:#616161;" th:text="${upcomingRide.cost}+'$'"></ride-h1>
                                            <ride-h1 style="font-size:14px;color:#616161;" th:text="${upcomingRide.source}+' to '+${upcomingRide.destination}"></ride-h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        <br>
                        <br>
                        <div class="container-fluid">
                                <label class="text-secondary" style="font-weight:bold; font-size:22px" >Previous Rides</label>
                                <div th:each="previousRide: ${session.previousRides}" style="padding-top: 4px;width: 350px;">
                                    <div class="card-wrapper">
                                        <div class="ride-card-left">
                                        </div>
                                        <div class="card-details">
                                            <ride-h1 th:text="${previousRide.start_time}"></ride-h1>
                                            <ride-h1 style="font-size:14px;color:#616161;" th:text="${previousRide.cost}+'$'"></ride-h1>
                                            <ride-h1 style="font-size:14px;color:#616161;" th:text="${previousRide.source}+' to '+${previousRide.destination}"></ride-h1>
                                        </div>
                                    </div>
                                </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="bg-dark mt-auto fixed-bottom" >
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:
                        <label class="form-check-label" th:text="${session.vehicleOwner.vehicleowner_fname}"></label>
                    </div>
                </div>
                <div class="text-muted">Copyright &copy; Trip Management 2022</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>
</body>
</html>
