<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'vehicleowner_id, ' + ${vehicleowner_id}" />
<p th:text="'vehicleowner_name, ' + ${vehicleowner_name}" />
<p th:text="'email, ' + ${email}" />
<p th:text="'address, ' + ${address}" />
<p th:text="'phone, ' + ${phone}" />
<p th:text="'vehicle_id, ' + ${vehicle_id}" />
<div id="saveVehicleOwner">
	<form:form action="/saveVehicleOwner" method="post"
				modelAttribute="vehicleOwner">
				<p>
					<label>vehicleowner_id</label>
					<form:input path="vehicleowner_id" />
				</p>
				<p>
					<label>vehicleowner_name</label>
					<form:input path="vehicleowner_name" />
				</p>
				<p>
					<label>email</label>
					<form:input path="email" />
				</p>
				<p>
					<label>address</label>
					<form:input path="address" />
				</p>
				<p>
					<label>phone</label>
					<form:input path="phone" />
				</p>
				<p>
					<label>vehicle_id</label>
					<form:input path="vehicle_id" />
				</p>
				<input type="SUBMIT" value="Submit" />
			</form:form></div>
</body>
</html>