<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'ID, ' + ${id} + '!!'" />
<p th:text="'fname, ' + ${fname} + '!!'" />
<p th:text="'lname, ' + ${lname} + '!!'" />
<p th:text="'email, ' + ${email} + '!!'" />
<div id="saveOwner">
<form:form action="/saveOwner" method="post"
			modelAttribute="carOwner">
            <p>
				<label>id</label>
				<form:input path="id" />
			</p>
			<p>
				<label>first_Name</label>
				<form:input path="first_Name" />
			</p>
			<p>
				<label>last_Name</label>
				<form:input path="last_Name" />
			</p>
            <p>
				<label>email</label>
				<form:input path="email" />
			</p>
			<input type="SUBMIT" value="Submit" />
		</form:form></div>
</body>
</html>